.CodeMirror {
 	font-family:monospace !important;
}
body {
	max-width:950px;
	margin:auto;
	font-family:'RobotoRegular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Arial,"Open Sans","Noto Sans","Fira Sans","Droid Sans",Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Emoji Regular";
	background:transparent;
	color: #424242;
	font-size:1.2em;
	line-height:1.5;
	box-sizing: content-box;
	text-rendering:optimizelegibility;
}
nav {
	color:#333;
	min-height:64px;
	display:flex;
	align-items:center;
	padding:0 15px;
	font-weight:500;
	font-size:1em;
	margin:auto;
	justify-content:space-between;
	z-index:999;
}
nav a, .block a, footer a {
	color:#333;
}
a {
	color:#4496cc;
	text-decoration:none;
}

a:hover {
	color:#337199;
	text-decoration:none;
}

a.empty {
	color:#c00;
}

a.empty:hover {
	color:#900;
}
.block, footer {
	text-align:center;
}
input,textarea, select {
display:block;
width:100%;
}
label {
display:block
}

input[type=radio],input[type=checkbox] {
	display:inline;
	width:inherit;
}
header h1 {
font-size:4em;
text-align:center;
}
