@import 'style.css';
:root {
/* eXpresso */
--alpha-color: #3c1053;
--beta-color: #ad5389;
/* Orca */
/*--alpha-color: #093637;
--beta-color: #44A08D;
/* PunYeta */
/*--alpha-color: #ef8e38;
--beta-color: #108dc7;
/* Veniceblue */
/*--alpha-color: #85D8CE;
--beta-color: #085078; */
}

section {
padding:2em;
max-width:1200px;
box-shadow:0 1px 4px rgba(0,0,0,.25);
background:#fff;
}


input,textarea {
background-image:linear-gradient(to bottom,var(--alpha-color),var(--alpha-color)),linear-gradient(to bottom,silver,silver);
background-size:0 2px,100% 1px;
background-position:50% 100%,50% 100%;
transition:background-size .3s cubic-bezier(.64,.09,.08,1);
}

input:focus,textarea:focus {
background-size:100% 2px,100% 1px;
outline:none;
}

html,footer {
background:var(--alpha-color);
background:-webkit-linear-gradient(to right,var(--alpha-color),var(--beta-color));
background:linear-gradient(to right,var(--alpha-color),var(--beta-color));
}

nav {
background-color:#fafafa;
box-shadow:none;
align-items:left;
margin:0;
padding:0;
}

nav a {
padding:10px;
font-size:1em;
font-weight:700;
cursor:pointer;
text-decoration:none;
transition:all .3s ease 0s;
filter:hue-rotate(0deg) saturate(1);
filter:hue-rotate(10deg) saturate(1.2);
margin-right:10px;
}

section {
background-color:#fafafa;
}

section,input[type="submit"]:hover {
box-shadow:none;
}
